<!DOCTYPE html>
<html>
  <head>
    <% include frame/head %> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include frame/nav %>
    <div class="container">
      <h1><%= title %></h1>
      
      <form action="/create-rectangle" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="width">Width:</label><br>
        <input type="number" min="1" id="width" name="width" required><br><br>
        <label for="height">Height:</label><br>
        <input type="number" min="1" id="height" name="height" required><br><br>
        <label for="color">Choose a color:</label>
        <input type="color" id="color" name="color" value="#ff0000"required><br><br>
        <input type="submit" value="Add Rectangle" class="btn btn-info">
      </form>
    </div>
  </body>
</html>
