<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Rect<span style="color:#555555">angles</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="rectangles"><a href="/view-rectangles">RECTANGLES</a></li>
          <li id="add_rect"><a href="/add-rectangle">ADD RECTANGLE</a></li>
        </ul>
      </div>
    </div>
</nav>